/*! Main SCSS FILE */

@import 'bourbon';
@import 'neat';
@import "base/base";

body, header, #addTimelineModal, #addDotModal, #editTimelineModal { // for better laptop view
  max-width: 650px;
  margin: 0 auto !important;
}

body {
  background-color: darken(white, 8%) !important;
}

.timeline {
  cursor: pointer;
}

svg {
  background-color: darken(white, 2%);
  //background-image: url("../../img/swirl_pattern.png");
}
 
.hidden {
  display: none;
}

h1 {
  font-size: 1.2em ;
  text-align: center;
  margin: 10px 0 ;
  //padding-left: 5px;
  letter-spacing: 0.5px;
}

#editTimelineModal ul {
  margin-top: 30px;
}


#line {
  transition: all 3s ease;
}
#line:hover {
  stroke: green !important;
}

.dot-info {
  //font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.date-label {
  font-size: 0.75em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#timelineInfo {
  @include outer-container;
  .timelineDetails { @include span-columns(10); }
  .timelineBookarmk { @include span-columns(2); }
}


//@import "./dropbox";
//@import "./welcome";
//@import "./navigation";
//@import "./slidingPanel";
//@import "./modal";


.popover:before {
  display: none;  // use popover as alert
}

.flash-alert {
  margin: 0 !important;
}

// flash bitter
$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

// switch refill
.label-switch {  
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $switch-background: $base-background-color;
  $switch-border-background: darken($base-background-color, 9%);
  $switch-shadow: 0 2px 5px transparentize(black, 0.6);

  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include transition(all 0.3s ease);
      background: $switch-border-background;
      border-radius: $switch-radius;
      border: none;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      width: $switch-width;
      z-index: 0;

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $action-color;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}



